build/
app/app.iml
.idea/
.gradle/
gradle/
XWallet.iml
local.properties
gradlew
gradlew.bat
ethwallet/build/
ethwallet/ethwallet.iml
app/bin/
ethwallet/bin/
bitherj/bin/
btclibrary/bin/
ethwallet/src/main/jniLibs/
ethwallet/src/obj/
*.project