<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.x.wallet">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <application
        android:name=".XWalletApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.CoinTypeChooseActivity"
            android:exported="false"
            android:label="@string/cointype_choose">
            <intent-filter>
                <action android:name="com.x.wallet.action.COINTYPE_CHOOSE_ACTION" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.CreateAccountActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="com.x.wallet.action.CREATE_ACCOUNT_ACTION" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.ImportAccountActivity"
            android:exported="false"
            android:label="@string/import_account">
            <intent-filter>
                <action android:name="com.x.wallet.action.IMPORT_ACCOUNT_ACTION" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.AccountDetailActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="com.x.wallet.action.SEE_ACCOUNT_DETAIL_ACTION" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.BackupMnemonicActivity"
            android:label="@string/backup"
            android:exported="false">
            <intent-filter>
                <action android:name="com.x.wallet.action.BACKUP_MNEMONIC_ACTION" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.ManageAllAccountActivity"
            android:exported="false"
            android:label="@string/manage_account">
            <intent-filter>
                <action android:name="com.x.wallet.action.MANAGE_ALL_ACCOUNT_ACTION" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.ManageAccountActivity"
            android:exported="false"
            android:label="@string/manage_account">
            <intent-filter>
                <action android:name="com.x.wallet.action.MANAGE_ACCOUNT_ACTION" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.AddTokenActivity"
            android:exported="false"
            android:label="@string/add_token">
            <intent-filter>
                <action android:name="com.x.wallet.action.ADD_TOKEN_ACTION" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.ReceiveQRActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="com.x.wallet.action_SHARE_ADDRESS_QR_ACTION" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.TransferActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="com.x.wallet.action_TRANSFER_TO_ADDRESS_ACTION" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.ScanAddressQRActivity"
            android:exported="false">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.activity.TransactionDetailActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="com.x.wallet.action_SEE_TRANSACTION_DETAIL" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.activity.ServicePolicyActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="com.x.wallet.action.SEE_SERVICE_POLICY_ACTION" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <provider
            android:name=".db.XWalletProvider"
            android:authorities="com.x.wallet"
            android:exported="false" />

        <service android:name=".service.SendTransactionService"
            android:exported="false"/>
    </application>

</manifest>